<div class="jumbotron">
    <center>
    <h1>Find Love</h1>
        <% if current_user %>
            <%= image_tag("brand/fire2.png", size: '200x200') %>
            <p>
            There are not more people to find. Come back later. 
            </p>
        <% end %>
    </center>
</div>
