<div class="jumbotron">
    <center>
    <h1>It's a Match!</h1>
    <h2>Now you can go to your matches and select when and where to have your date!</h2>
    <%= link_to "Go to Matches", show_match_My_match_path%>
    <%= link_to "Continue Searching", likes_new_path%>
    </center>
</div>
