<div class="jumbotron">
    <%= image_tag("brand/fire2.png", size: '100x100') %>
    <h1>Welcome to DCCitas</h1>
    <p>
        This is a website where you can find the love of your life (or even a one night stand), 
        so we encourage you to join session and follow the steps to get the party started!
    </p>
</div>

<div class="nav float-r">
    <%= link_to "Log In", new_dueno_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Register", new_dueno_user_registration_path, class: "btn btn-primary" %>
</div>