
  <% if current_user %>
    <div class="jumbotron">
        <center>
        <h1>My Matches</h1>
        <%= image_tag("brand/fire2.png", size: '200x200') %>
        <p>
            You don't have matches yet. 
            <%= link_to "Find your ideal partner here", show_posible_match_Find_love_path, class: "nav-link" %>
        </p>
        </center>
    </div>
  <% end %>
